{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Homepage</h1>
<img class="bookcover "src="{% static 'images/book1.webp' %}">
{% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <p><a href="{% url 'account_logout' %}">Logout</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% provider_login_url 'google' %}">Login</a>
    <a href="{% url 'account_signup' %}">Signup</a>
{% endif %}
{% endblock%}